* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.add-note {
    position: relative;
    background-color: rgb(98, 122, 187);
    color: black;
    width: 8rem;
    padding: 0.5rem;
    border-radius: 5px;
    left: 10%;
    top: 5%;
}

.add-note:hover {
    opacity: 0.7;
}

body, html {
    width: 100%;
    height: 100vh;background: url('./bckgrnd.jpg');
    background-size: cover;
    color: white;
}

input {
    margin-bottom: 1rem;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
}

h1 {
    position: relative;
    text-align: center;
}

.modal {
    position: fixed;
    top: -20%;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.5rem;
    pointer-events: none;
    z-index: 9999;
    opacity: 0;
    border: 1px solid rgba(0, 0, 0, 0.192);
}

.modal:target {
    opacity: 1;
    top: 0;
    pointer-events: auto;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    width: 400px;
    position: relative;
    margin: 10% auto;
    border: 1px solid rgba(0, 0, 0, 0.192);
    padding: 2rem;
    border-radius: 5px;
    background: #ffffff5b;
    backdrop-filter: blur(10px);
    color: #fff;
}

.cancel, .submit {
    text-align: center;
    border: none;
    color: #fff;
    font-size: 1;
    cursor: pointer;
}

.note-table {
    position: relative;
    width: 40%;
    left: 10%;
    background: #000000b7;
    top: 10%;
    border-radius: 5px;
}

.header {
    color: rgb(98, 122, 187);
    padding: 1rem;
}

.noteItem {
    height: 2rem;
    z-index: 1;
}

td {
    padding: 1rem;
}

.delete-item {
    font-size: 1.5rem;
}

.delete-item:hover {
    color: rgb(98, 122, 187);
    cursor: pointer;
}